<!DOCTYPE html>
<html lang="ko">

    <head>
        <!-- Webpage Title -->

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">
        
        <title>첫 화면</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>

        <!-- 구글폰트 -->
        <!-- <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet"> -->

        <script type="text/javascript">

            $(document).ready(function () {
                get_post()
                // $("#categorySelect").on("change", function () {
                //     get_goods($(this).val())
                // })
            })

            // ${category ? "?category=" + category : ""}
            function get_post(category) {
                $("#postlist").empty()
                console.log(category)

                // url로 쿼리 값 보내서 받아와? 뭘 쓰는진 알고 쓰니?
                // 이제 안다!!! 주소에 저장 해 둔 postId값 가져와서 특정화 시킨다!!!
                let searchParams = new URLSearchParams(window.location.search)
                let postId = searchParams.get('postId')
                
                $.ajax({
                    type: "GET",
                    url: `/api/detail?postId=${postId}`,
                    data: {},
                    success: function (response) {
                        let post = response["post"]
                        make_card(post)
                    }
                })
            }

            function make_card(item) {
                let htmlTemp = `<tr onclick="window.location='/detail?postId=${item['postId']}';">
                                    <a href="/detail"><td scope="col">${item["title"]}</td></a>
                                    <td scope="col">${item["author"]}</td>
                                    <td scope="col">${item["description"]}</td>
                                </tr>`
                $("#postlist").append(htmlTemp)
            }

            function makePost() {
                // 버튼 눌렀을때 new 페이지로 이동... 어떻게?
                window.location.href = '/new'

            }

            function modifyPost() {
                let searchParams = new URLSearchParams(window.location.search)
                let postId = searchParams.get('postId')

                window.location.href = `/modify?postId=${postId}`
            }

        </script>
            
        <style type="text/css">
            * {
                font-family: "Do Hyeon", sans-serif;
            }

            h1,
            h5 {
                display: inline;
            }

            .info {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .post {
                margin-top: 100px;
                text-align: center;
                cursor: pointer;
                transition: transform 300ms ease;
                
            }
            .post:hover {
                transform: scale(1.1);
            }

            .reviews {
                margin-top: 100px;
            }
            .container {
                width: 600px;
                text-align: center;
            }
            .hero-body {
                text-align: center;
            }
            .desc {
                width: 800px;
                /* text-align: center; */
                margin: auto;
            }
        </style>
    </head>

    <body>
        <section class="hero is-primary">
            <div class="hero-body">
                <p class="title">
                    <a href="/">블로그</a>
                </p>
                <p class="subtitle">
                    글 상세 보기
                </p>
            </div>
            </section>

            <div class="post">
                <button onclick="modifyPost()" class="button is-primary">수정</button>
                <!-- <button onclick="deletePost()" class="button is-primary">삭제</button> -->
            </div>

        <div class="container">
            <div class="reviews">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                        <th scope="col">내용</th>
                    </tr>
                    </thead>
                    <tbody id="postlist">
                        
                    </tbody>
                    
                </table>
            </div>
        </div>

        <!-- <div class="box desc">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>제목</strong> <small>작성자</small> <small>작성날짜</small>
                    <br>
                    내용
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item" aria-label="reply">
                      <span class="icon is-small">
                        <i class="fas fa-reply" aria-hidden="true"></i>
                      </span>
                    </a>
                    <a class="level-item" aria-label="retweet">
                      <span class="icon is-small">
                        <i class="fas fa-retweet" aria-hidden="true"></i>
                      </span>
                    </a>
                    <a class="level-item" aria-label="like">
                      <span class="icon is-small">
                        <i class="fas fa-heart" aria-hidden="true"></i>
                      </span>
                    </a>
                  </div>
                </nav>
              </div>
            </article>
          </div> -->
    </body>

</html>