<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">

    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>글 작성</title>
    <style>
        .yeaji {
            text-align: center;
            margin: auto;
            width: 400px;
            /* margin-top: 200px; */
            display: block;
            margin-top: 30px;
        }
        .post {
            text-align: center;
            margin-top: 30px;
            cursor: pointer;
                transition: transform 300ms ease;
        }
        .post:hover {
                transform: scale(1.1);
        }
        .hero-body {
                text-align: center;
        }
        .desc {
            margin-top: 20px;
        }
    </style>
    <script>
        // 포스트 저장하기 api : save-post
        function makePost() {
            $.ajax({
                type: "POST",
                url: "api/save-post",
                data: {
                    title:$('#title').val(),
                    description:$('#description').val(),
                    password:$('#password').val(),
                    author:$('#author').val(),
                },
                success: function (response) {
                    if (response["result"] == "success") {
                        alert("작성 완료!") // 칭찬 필수
                    }
                    window.location.href = '/'
                }
            })
        }
    </script>
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
          <p class="title">
            <a href="/">블로그</a>
          </p>
          <p class="subtitle">
            새 글 작성
          </p>
        </div>
      </section>

      <div class="yeaji">
        
        <!-- <input class="input is-primary" type="text" placeholder="Primary input"> -->
        <input id="author" class="input is-primary desc" type="text" placeholder="이름">
        <input id="password" class="input is-primary desc" type="text" placeholder="비밀번호">
        <input id="title" class="input is-primary desc" type="text" placeholder="제목">
        <textarea id="description" class="textarea desc" placeholder="내용" rows="10"></textarea>
      </div>
      <div class="post">
        <button onclick="makePost()" class="button is-primary">글 작성하기</button>
    </div>

</body>
</html>